body     {background-color:#C5FFFD;
		font-family: "Open Sans Condensed", sans-serif;
		font-size: 28px}

th, td {
  padding: 20px;
}

h1	 {font-weight:bold; 
	  font-size:42px; 
 	  text-align: center}

h2       {font-size:30px; 
	  text-align:center; 
	  text-wrap:normal; 
	  word-wrap:break-word;}
